.browserContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 7rem;
  padding: 2rem;
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.alignRight {
  align-self: flex-end;
}

.browserHeader {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #242424;
  z-index: 1;
}

.headerRed {
  position: absolute;
  left: 10px;
  top: 7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  z-index: 2;
  background-color: #ff5c37;
}

.headerYellow {
  position: absolute;
  left: 20px;
  top: 7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  z-index: 2;
  background-color: #ffe261;
}

.headerGreen {
  position: absolute;
  left: 30px;
  top: 7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  z-index: 2;
  background-color: #3b9e43;
}

.title {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.entryText {
  display: flex;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .browserContainer {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-size: 16px;
    padding: 1.5rem;
    margin-bottom: 15rem;
  }

  .title {
    font-size: 16px;
  }

  .entryText {
    font-size: 14px;
  }
}
